{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Post Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- leaflet js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <!-- leaflet draw plugin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

    <link rel="stylesheet"
        href="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.css" />
    <script
        src="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.js"></script>



    <style>
        .tag-container {
            display: flex;
        }

        .tag {
            border-radius: 8px;
            padding: 4px 8px;
            color: white;
            font-weight: normal;
            margin-right: 8px;
        }

        /* .comment-section {
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 50%;
            background-color: #f1f1f1;
            padding: 20px;
        } */
    </style>

</head>

<body>
    <header>
        <div class="header_inner">
            <div class="left-side">
                <a href="/" style="font-style: italic; font-weight: bold; font-size: large;"> Memorycloud</a>

            </div>

            <div class="right-side lg:pr-4">
                <a href="/newpost"
                    class="bg-pink-500 flex font-bold hover:bg-pink-600 hover:text-white inline-block items-center max-h-10 mr-4 px-4 py-2 rounded shadow text-white">
                    <ion-icon name="add-circle" class="-mb-1 mr-1 opacity-90 text-xl uilus-circle"></ion-icon> New Story
                </a>

                <a href="#">
                    <img src="{{user_profile.profile_image.url|slice:'1:'}}" class="header-avatar" alt="">
                </a>
                <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                    <ul>
                        <li><a href="/settings"> Account setting </a> </li>
                        <li><a href="logout"> Log Out</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </header>
    <div class="container m-auto ">
        <div class="lg:grid-cols-3 mt-12">
            {% if profile %}

            <div class="bg-white shadow rounded-md mx-2 lg:mx-0">

                <!-- post header-->
                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-2">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                {% if profile.profile_image.url %}
                                <img src="{{ profile.profile_image.url }}"
                                    class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                {% else %}
                                <img src="/media/blank-profile-picture.png"
                                    class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                {% endif %}
                            </div>
                        </a>

                        <span class="block font-semibold"><a href="/profile/{{story.user}}">{{story.user}}</a></span>
                    </div>
                </div>
                <hr style=" margin-left: 2%; margin-right: 2%; border: none; border-top: 2px solid #000000; height: 0;">
                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <p style="word-break: break-all; white-space: normal;">
                            <span style="font-weight: 600;">Title:</span> {{ story.title}}
                        </p>
                    </div>
                </div>

                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <p style="word-break: break-all; white-space: normal;">
                            <span style="font-weight: 600;">Timeframe:</span>
                            {% if story.date_format == 1 %}
                            {{ story.date_exact }}
                            {% elif story.date_format == 2 %}
                            {{ story.date_range_start }} - {{ story.date_range_end }}
                            {% elif story.date_format == 3 %}
                            {{ story.decade }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <span style="font-weight: 600;">Tags:</span>
                        <div class="tag-container">
                            {% for tag in story.tags.all %}
                            <div class="tag" style="background-color: grey">
                                <p style="color: white;">{{ tag.name }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <p style="word-break: break-all; white-space: normal;">
                            {% if story.locations.count > 2 %}
                            <span style="font-weight: 600;">Locations:</span> {{ story.locations.all|join:" ; " }}
                            {% else %}
                            <span style="font-weight: 600;">Location:</span> {{ story.locations.all|join:" ; " }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div id="map" style="height: 500px;">
                    <script>
                        var map = L.map('map');
                    </script>

                    {% for location in story.locations.all %}
                    {% if location.point and not location.radius %}

                    <script>
                        var locationString = '{{ location.point }}';
                        var pointIndex = locationString.indexOf('(') + 1; // Get the index of the opening parenthesis
                        var pointCoordinates = locationString.substring(pointIndex, locationString.length - 1); // Extract the coordinates substring
                        var coordinatesArray = pointCoordinates.split(' '); // Split the coordinates string by space
                        var lat = parseFloat(coordinatesArray[0]); // Parse the latitude as a float number
                        var lon = parseFloat(coordinatesArray[1]); // Parse the longitude as a float number

                        console.log('Latitude:', lat);
                        console.log('Longitude:', lon);



                        map.setView([lon, lat], 4);
                        L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=ObmhcyIVPHpLuSAuaCKz', {

                            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                            maxZoom: 18

                        }).addTo(map);

                        L.marker([lon, lat]).addTo(map);
                    </script>

                    {% elif location.point and location.radius %}
                    <script>
                        var locationString = '{{ location.point }}';
                        var pointIndex = locationString.indexOf('(') + 1; // Get the index of the opening parenthesis
                        var pointCoordinates = locationString.substring(pointIndex, locationString.length - 1); // Extract the coordinates substring
                        var coordinatesArray = pointCoordinates.split(' '); // Split the coordinates string by space
                        var lat = parseFloat(coordinatesArray[0]); // Parse the latitude as a float number
                        var lon = parseFloat(coordinatesArray[1]); // Parse the longitude as a float number
                        var radius = parseFloat('{{ location.radius }}'); // Parse the radius as a float number

                        console.log('Latitude:', lat);
                        console.log('Longitude:', lon);
                        console.log('Radius:', radius);

                        map.setView([lon, lat], 4);
                        L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=ObmhcyIVPHpLuSAuaCKz', {

                            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                            maxZoom: 18

                        }).addTo(map);
                        //L.marker([lon, lat]).addTo(map);
                        L.circle([lon, lat], { radius: radius }).addTo(map);
                    </script>

                    {% elif location.area %}
                    <script>
                        var locationString = '{{ location.area }}';
                        var coordinatesString = locationString.substring(locationString.indexOf('((') + 2, locationString.indexOf('))'));
                        var coordinatesArray = coordinatesString.split(', ');

                        // Create an array to hold the polygon coordinates
                        var polygonCoordinates = [];

                        // Loop through the coordinates and convert them to LatLng objects
                        for (var i = 0; i < coordinatesArray.length; i++) {
                            var latLngString = coordinatesArray[i].split(' ');
                            var lat = parseFloat(latLngString[1]);
                            var lon = parseFloat(latLngString[0]);
                            var latLng = [lat, lon];
                            polygonCoordinates.push(latLng);
                        }
                        if (polygonCoordinates.length > 0) {
                            map.setView([polygonCoordinates[0][1], polygonCoordinates[0][0]], 4);
                        }
                        L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=ObmhcyIVPHpLuSAuaCKz', {

                            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                            maxZoom: 18

                        }).addTo(map);

                        // Create the polygon and add it to the map
                        var polygon = L.polygon(polygonCoordinates).addTo(map);
                    </script>

                    {% elif location.lines %}
                    <script>
                        var locationString = '{{ location.lines }}';
                        var coordinatesString = locationString.substring(locationString.indexOf('(') + 1, locationString.indexOf(')'));
                        var coordinatesArray = coordinatesString.split(', ');

                        // Create an array to hold the polyline coordinates
                        var polylineCoordinates = [];

                        // Loop through the coordinates and convert them to LatLng objects
                        for (var i = 0; i < coordinatesArray.length; i++) {
                            var latLngString = coordinatesArray[i].split(' ');
                            var lat = parseFloat(latLngString[1]);
                            var lon = parseFloat(latLngString[0]);
                            var latLng = [lat, lon];
                            polylineCoordinates.push(latLng);
                        }

                        if (polylineCoordinates.length > 0) {
                            map.setView([polylineCoordinates[0][1], polylineCoordinates[0][0]], 4);
                        }
                        L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=ObmhcyIVPHpLuSAuaCKz', {

                            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                            maxZoom: 18

                        }).addTo(map);

                        // Create the polyline and add it to the map
                        var polyline = L.polyline(polylineCoordinates).addTo(map);
                    </script>
                    {% endif %}
                    {% endfor %}
                </div>




                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <p style="word-break: break-all; white-space: normal;">
                            <span style="font-weight: 600;">Content:</span>
                            {{ story.content}}
                        </p>
                    </div>
                </div>



                {% if story.files.all %}
                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <span style="font-weight: 600;">Files:</span>
                    </div>
                </div>
                <div uk-lightbox class="flex justify-between items-center px-4 py-1">
                    <div style="display: flex; gap: 10px;">
                        {% for file in story.files.all %}
                        <p style="word-break: break-all; white-space: normal;"> <a href="/media/{{ file }}">
                                <img src="/media/{{ file }}" alt="" style="width: 150px; height: auto;">
                            </a>
                        </p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}



                <div class="py-3 px-4 space-y-3">

                    <div class="flex space-x-4 lg:font-bold">
                        <!-- Like Post -->
                        <a href="/like-post?story_id={{ story.id }}{% if profile %}&profile_id={{ profile.id }}{% endif %}"
                            class="flex items-center space-x-2">
                            <div
                                class="p-2 rounded-full text-black{% if story.is_liked_by_current_user %} text-red-500{% endif %}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    width="25" height="25">
                                    <path
                                        d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                </svg>

                            </div>
                        </a>

                    </div>
                    <div class="flex space-x-4 lg:font-bold">
                        {% if likes.count > 0 %}
                        <a href="/usersliked?story_id={{story.id}}&profile_id={{profile.id}}">
                            {% endif %}
                            {% if likes.count > 2 %}
                            <span style="font-weight: 600; color: #000;">{{likes.count}} likes</span>
                            {% elif likes.count > 0 %}
                            <span style="font-weight: 600; color: #000;">{{likes.count}} likes</span>
                            {% else %}
                            <span style="font-weight: 600; color: #000;">0 likes</span>
                            {% endif %}
                            {% if likes.count > 0 %}
                        </a>
                        {% endif %}
                    </div>

                    <div class="flex space-x-4 lg:font-bold">
                        {% if comments.count > 0 %}
                        <a href="/userscommented?story_id={{story.id}}&profile_id={{profile.id}}">
                            <span style="font-weight: 600; color: #000;">{{comments.first.user.username}}: </span>
                            {{ comments.first.content|safe }}
                        </a>
                        {% else %}
                        <span style="font-weight: 600; color: #000;">0 comments</span>
                        {% endif %}
                    </div>

                    {% if comments.count > 1 %}
                    <div>
                        <a href="/userscommented?story_id={{story.id}}&profile_id={{profile.id}}">See {{ comments.count|add:"-1" }} other comments</a>
                    </div>
                    {% endif %}

                    {% if not story.user.username == user_profile.username %}
                    <form action="/comment-post" method="POST" id="my-form">
                        {% csrf_token %}

                        <div class="comment-section">
                            <label for="comment" style="font-weight: 600;color: #000;">Leave a comment:</label>
                            <textarea id="comment" name="comment" rows="4" cols="50"
                                placeholder="Type your comment here"
                                oninput="checkCharacterLimit(this, 255)"></textarea>
                            <p id="character-count">*255 characters remaining</p>
                            <script>
                                function checkCharacterLimit(textarea, limit) {
                                    var count = textarea.value.length;
                                    var remaining = limit - count;
                                    var countElement = document.getElementById("character-count");

                                    if (remaining >= 0) {
                                        countElement.innerHTML = remaining + " characters remaining";
                                        countElement.style.color = ""; // Reset the color
                                    } else {
                                        countElement.innerHTML = "*Exceeded the character limit!";
                                        countElement.style.color = "red"; // Set the color to red
                                        textarea.value = textarea.value.substr(0, limit); // Truncate the text to the character limit
                                        textarea.setAttribute("maxlength", limit); // Set the maxlength attribute to enforce the limit
                                        textarea.removeEventListener("input", checkCharacterLimit); // Remove the event listener to prevent further input
                                        // You can also disable the submit button or show an error message here
                                    }
                                }
                            </script>


                            <input type="hidden" name="story_id" value="{{ story.id }}">
                            <br />
                            <div class="bg-gray-10 p-6 pt-0 flex flex-col items-center space-y-4">
                                <button type="submit" id="submit-button" class="button bg-blue-700">Save</button>
                            </div>
                        </div>


                    </form>
                    {% endif %}



                </div>
            </div>

            {% else %}

            <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">

                <!-- post header-->
                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-2">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                {% if profile.profile_image.url %}
                                <img src="{{ profile.profile_image.url }}"
                                    class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                {% else %}
                                <img src="/media/blank-profile-picture.png"
                                    class="bg-gray-200 border border-white rounded-full w-8 h-8">
                                {% endif %}
                            </div>
                        </a>

                        <span class="block font-semibold"><a href="/profile/{{story.user}}">{{story.user}}</a></span>
                    </div>
                </div>
                <hr style=" margin-left: 2%; margin-right: 2%; border: none; border-top: 2px solid #000000; height: 0;">
                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <p style="word-break: break-all; white-space: normal;">
                            <span style="font-weight: 600;">Title:</span> {{ story.title}}
                        </p>
                    </div>
                </div>

                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <p style="word-break: break-all; white-space: normal;">
                            <span style="font-weight: 600;">Timeframe:</span>
                            {% if story.date_format == 1 %}
                            {{ story.date_exact }}
                            {% elif story.date_format == 2 %}
                            {{ story.date_range_start }} - {{ story.date_range_end }}
                            {% elif story.date_format == 3 %}
                            {{ story.decade }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <span style="font-weight: 600;">Tags:</span>
                        <div class="tag-container">
                            {% for tag in story.tags.all %}
                            <div class="tag" style="background-color: grey">
                                <p style="color: white;">{{ tag.name }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <p style="word-break: break-all; white-space: normal;">
                            {% if story.locations.count > 2 %}
                            <span style="font-weight: 600;">Locations:</span> {{ story.locations.first.name }},
                            and
                            {{ story.locations.count|add:"-1" }} other locations
                            {% else %}
                            <span style="font-weight: 600;">Location:</span> {{ story.locations.all|join:", " }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div id="map" style="height: 500px;">
                    <script>
                        var map = L.map('map');
                    </script>

                    {% for location in story.locations.all %}
                    {% if location.point and not location.radius %}

                    <script>
                        var locationString = '{{ location.point }}';
                        var pointIndex = locationString.indexOf('(') + 1; // Get the index of the opening parenthesis
                        var pointCoordinates = locationString.substring(pointIndex, locationString.length - 1); // Extract the coordinates substring
                        var coordinatesArray = pointCoordinates.split(' '); // Split the coordinates string by space
                        var lat = parseFloat(coordinatesArray[0]); // Parse the latitude as a float number
                        var lon = parseFloat(coordinatesArray[1]); // Parse the longitude as a float number

                        console.log('Latitude:', lat);
                        console.log('Longitude:', lon);



                        map.setView([lon, lat], 4);
                        L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=ObmhcyIVPHpLuSAuaCKz', {

                            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                            maxZoom: 18

                        }).addTo(map);

                        L.marker([lon, lat]).addTo(map);
                    </script>

                    {% elif location.point and location.radius %}
                    <script>
                        var locationString = '{{ location.point }}';
                        var pointIndex = locationString.indexOf('(') + 1; // Get the index of the opening parenthesis
                        var pointCoordinates = locationString.substring(pointIndex, locationString.length - 1); // Extract the coordinates substring
                        var coordinatesArray = pointCoordinates.split(' '); // Split the coordinates string by space
                        var lat = parseFloat(coordinatesArray[0]); // Parse the latitude as a float number
                        var lon = parseFloat(coordinatesArray[1]); // Parse the longitude as a float number
                        var radius = parseFloat('{{ location.radius }}'); // Parse the radius as a float number

                        console.log('Latitude:', lat);
                        console.log('Longitude:', lon);
                        console.log('Radius:', radius);

                        map.setView([lon, lat], 4);
                        L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=ObmhcyIVPHpLuSAuaCKz', {

                            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                            maxZoom: 18

                        }).addTo(map);
                        //L.marker([lon, lat]).addTo(map);
                        L.circle([lon, lat], { radius: radius }).addTo(map);
                    </script>

                    {% elif location.area %}
                    <script>
                        var locationString = '{{ location.area }}';
                        var coordinatesString = locationString.substring(locationString.indexOf('((') + 2, locationString.indexOf('))'));
                        var coordinatesArray = coordinatesString.split(', ');

                        // Create an array to hold the polygon coordinates
                        var polygonCoordinates = [];

                        // Loop through the coordinates and convert them to LatLng objects
                        for (var i = 0; i < coordinatesArray.length; i++) {
                            var latLngString = coordinatesArray[i].split(' ');
                            var lat = parseFloat(latLngString[1]);
                            var lon = parseFloat(latLngString[0]);
                            var latLng = [lat, lon];
                            polygonCoordinates.push(latLng);
                        }
                        if (polygonCoordinates.length > 0) {
                            map.setView([polygonCoordinates[0][1], polygonCoordinates[0][0]], 4);
                        }
                        L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=ObmhcyIVPHpLuSAuaCKz', {

                            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                            maxZoom: 18

                        }).addTo(map);

                        // Create the polygon and add it to the map
                        var polygon = L.polygon(polygonCoordinates).addTo(map);
                    </script>

                    {% elif location.lines %}
                    <script>
                        var locationString = '{{ location.lines }}';
                        var coordinatesString = locationString.substring(locationString.indexOf('(') + 1, locationString.indexOf(')'));
                        var coordinatesArray = coordinatesString.split(', ');

                        // Create an array to hold the polyline coordinates
                        var polylineCoordinates = [];

                        // Loop through the coordinates and convert them to LatLng objects
                        for (var i = 0; i < coordinatesArray.length; i++) {
                            var latLngString = coordinatesArray[i].split(' ');
                            var lat = parseFloat(latLngString[1]);
                            var lon = parseFloat(latLngString[0]);
                            var latLng = [lat, lon];
                            polylineCoordinates.push(latLng);
                        }

                        if (polylineCoordinates.length > 0) {
                            map.setView([polylineCoordinates[0][1], polylineCoordinates[0][0]], 4);
                        }
                        L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=ObmhcyIVPHpLuSAuaCKz', {

                            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                            maxZoom: 18

                        }).addTo(map);

                        // Create the polyline and add it to the map
                        var polyline = L.polyline(polylineCoordinates).addTo(map);
                    </script>
                    {% endif %}
                    {% endfor %}
                </div>

                {% if profile %}
                <a href="/postdetailed?story_id={{ story.id }}&profile_id={{ profile.id }}">
                    <div class="flex justify-between items-center px-4 py-1">
                        <div class="flex flex-1 items-center space-x-4">
                            <p style="word-break: break-all; white-space: normal;">
                                <span style="font-weight: 600;">Content:</span>
                                {{ story.content|truncatechars:500 }}
                            </p>
                        </div>
                    </div>
                </a>
                {% else %}
                <a href="/postdetailed?story_id={{ story.id }}">
                    <div class="flex justify-between items-center px-4 py-1">
                        <div class="flex flex-1 items-center space-x-4">
                            <p style="word-break: break-all; white-space: normal;">
                                <span style="font-weight: 600;">Content:</span>
                                {{ story.content|truncatechars:500 }}
                            </p>
                        </div>
                    </div>
                </a>
                {% endif %}

                {% if story.files.all %}
                <div class="flex justify-between items-center px-4 py-1">
                    <div class="flex flex-1 items-center space-x-4">
                        <span style="font-weight: 600;">Images:</span>
                    </div>
                </div>
                <div uk-lightbox class="flex justify-between items-center px-4 py-1">
                    <div style="display: flex; gap: 10px;">
                        {% for file in story.files.all %}
                        <p style="word-break: break-all; white-space: normal;"> <a href="/media/{{ file }}">
                                <img src="/media/{{ file }}" alt="" style="width: 150px; height: auto;">
                            </a>
                        </p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}



                <div class="py-3 px-4 space-y-3">

                    <div class="flex space-x-4 lg:font-bold">
                        <!-- Like Post -->
                        <a href="/like-post?story_id={{ story.id }}{% if profile %}&profile_id={{ profile.id }}{% endif %}"
                            class="flex items-center space-x-2">
                            <div
                                class="p-2 rounded-full text-black{% if story.is_liked_by_current_user %} text-red-500{% endif %}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    width="25" height="25">
                                    <path
                                        d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                </svg>

                            </div>

                        </a>


                    </div>
                    <div class="flex space-x-4 lg:font-bold">
                        {% if likes.count > 0 %}
                        <a href="/usersliked?story_id={{story.id}}&profile_id={{profile.id}}">
                            {% endif %}
                            {% if likes.count > 2 %}
                            <span style="font-weight: 600; color: #000;">{{likes.count}} likes</span>
                            {% elif likes.count > 0 %}
                            <span style="font-weight: 600; color: #000;">{{likes.count}} likes</span>
                            {% else %}
                            <span style="font-weight: 600; color: #000;">0 likes</span>
                            {% endif %}
                            {% if likes.count > 0 %}
                        </a>
                        {% endif %}
                    </div>

                    <div class="flex space-x-4 lg:font-bold">
                        {% if comments.count > 0 %}
                        <a href="/userscommented?story_id={{story.id}}&profile_id={{profile.id}}">
                            <span style="font-weight: 600; color: #000;">{{comments.first.user.username}}: </span>
                            {{ comments.first.content|safe }}
                        </a>
                        {% else %}
                        <span style="font-weight: 600; color: #000;">0 comments</span>
                        {% endif %}
                    </div>

                    {% if comments.count > 1 %}
                    <div>
                        <a href="/userscommented?story_id={{story.id}}&profile_id={{profile.id}}">See {{
                            comments.count|add:"-1" }} other comments</a>
                    </div>
                    {% endif %}

                    {% if not story.user.username == user_profile.username %}


                    <form action="/comment-post" method="POST" id="my-form">
                        {% csrf_token %}

                        <div class="comment-section">
                            <label for="comment" style="font-weight: 600;color: #000;">Leave a comment:</label>
                            <textarea id="comment" name="comment" rows="4" cols="50"
                                placeholder="Type your comment here"
                                oninput="checkCharacterLimit(this, 255)"></textarea>
                            <p id="character-count">*255 characters remaining</p>

                            <script>
                                function checkCharacterLimit(textarea, limit) {
                                    var count = textarea.value.length;
                                    var remaining = limit - count;
                                    var countElement = document.getElementById("character-count");

                                    if (remaining >= 0) {
                                        countElement.innerHTML = remaining + " characters remaining";
                                        countElement.style.color = ""; // Reset the color
                                    } else {
                                        countElement.innerHTML = "*Exceeded the character limit!";
                                        countElement.style.color = "red"; // Set the color to red
                                        textarea.value = textarea.value.substr(0, limit); // Truncate the text to the character limit
                                        textarea.setAttribute("maxlength", limit); // Set the maxlength attribute to enforce the limit
                                        textarea.removeEventListener("input", checkCharacterLimit); // Remove the event listener to prevent further input
                                    }
                                }
                            </script>


                            <input type="hidden" name="story_id" value="{{ story.id }}">
                            <br />
                            <div class="bg-gray-10 p-6 pt-0 flex flex-col items-center space-y-4">
                                <button type="submit" id="submit-button" class="button bg-blue-700">Save</button>
                            </div>
                        </div>


                    </form>
                    {% endif %}

                </div>

            </div>

            {% endif %}
        </div>
        </br></br></br>
    </div>


</body>

</html>